{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Forum</h1>
    <pre>
        {{ dump(posts) }}
    </pre>
    <button type="button" class="btn btn-primary">Poster</button>
    <div> <p>Trier par:</p> <button type="button" class="btn btn-secondary">tris</button></div>

    {% for post in posts %}
        <div class="card"> 
            <div class="card-header">
                {{post.title}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Posté par:</h5>
                <p>le {# {{ post.created_at|date('d-m-Y')}} #}</p>
                <p class="card-text">{{post.body}}</p>
                <a href="#" class="btn btn-primary">Consulter</a>
            </div>
        </div>
    {% endfor %}

{#     <div class="card">
        <div class="card-header">
            Titre du post
        </div>
        <div class="card-body">
            <h5 class="card-title">Posté par:</h5>
            <p>le {{ "now"|date("d/m/Y") }}</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Consulter</a>
        </div>
    </div> #}

{% endblock %}
