{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">{{post.title}}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Posté par: {{post.user}}</h5>
            <p>le </p>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">Signaler</a>{# Faire un lien vers un formulaire de signalement#}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Commentaires
        </div>
        <div class="card-body">
            <pre>
                {{ dump(post.comments) }}
            </pre>
            {% for comment in post.comments %}
                <div>{# Faire une boucle sur cette div pour contenir tout les commentaires relatifs #}
                    <h5 class="card-title">Posté par:</h5>
                    <p>le {{ "now"|date("d/m/Y") }}</p>
                    <p class="card-text">boucle</p>
                </div>
            {% endfor %}

            <div>
                <h5 class="card-title">Posté par:</h5>
                <p>le {{ "now"|date("d/m/Y") }}</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>

        </div>
    </div>
    
    {{ form_start(form) }}
        {{form_row(form.body)}}
        <input class="btn btn-primary" type="submit" value="Submit">
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    
{% endblock %}