{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">{{post.title}}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Posté par: <a href="{{ path('user_browse', {id:post.user.id}) }}" class="btn btn-primary">{{post.user.username}}</a></h5>
            <p>le {{ post.createdAt|date("d/m/Y") }}</p>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">Signaler</a>{# Faire un lien vers un formulaire de signalement#}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Commentaires</h3>            
        </div>
        <div class="card-body">
            {% for comment in post.comments %}
                <div>{# Faire une boucle sur cette div pour contenir tout les commentaires relatifs #}
                    <p class="card-title">Posté par: <a href="{{ path('user_browse', {id:comment.user.id}) }}" class="btn btn-primary">{{comment.user.username}}</a></p>
                    <p>le {{ comment.createdAt|date("d/m/Y") }}</p>
                    <p class="card-text">{{comment.body}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {{ form_start(form) }}
        {{form_row(form.body)}}
        <input class="btn btn-primary" type="submit" value="Submit">
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    
{% endblock %}