{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Mon profil</h1>

    <p> Prénom:</p>
    <p>{{user.firstname}}</p>
    <p> Nom:</p>
    <p>{{user.lastname}}</p>
    <p> E-mail:</p>
    <p>{{user.email}}</p>
    <p> Pseudo:</p>
    <p>{{user.username}}</p>

    <a href="{{ path('user_edit', {id:user.id}) }}" class="btn btn-primary">Modifier</a>

{% endblock %}
